@use "./style.scss";

/* @media (max-width:px) { */
/* margin-top: 16px; */
/* width: 524px; */
/* } */

/* 1024px */
/* @media (max-width: 64rem) { */
/* main { */
/* margin: 80px 20px; */

/* section { */
/* width: 70%; */
/* height: fit-content; */
/* padding: 20px 0; */
/* max-width: 60%; */
/* margin-right: 10%; */

/* p { */
/* margin-top: 14px; */
/* width: 386px; */
/* } */
/* } */

/* aside { */
/* height: fit-content; */
/* } */
/* } */
/* } */

$base-pad: 4;

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  margin: 40px 16px;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    width: 100%;
    padding: 10px 20px 18px;

    border-radius: 20px;
    background-color: style.$cor-background;
    box-shadow: 2px 2px 10px style.$shadow-color;

    p {
      text-align: justify;
    }

    a {
      $h: 72px;
      width: 240px;
      height: $h;
      border-radius: 10px;

      color: style.$cor-background;
      text-align: center;
      line-height: $h;
      font-weight: 600;
      background-color: style.$cor-primaria;
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    width: 348px;

    color: style.$branco;
    background-color: style.$cor-primaria;
    border-radius: 20px;
    border: 1px solid #00000063;
    box-shadow: 4px 4px 10px style.$shadow-color;

    h2 {
      margin-top: 18px;
    }

    $linha-cor: rgba(255, 255, 255, 0.253);

    div#pagamento-lista {
      border-top: solid 1px $linha-cor;
      width: 100%;
      margin-bottom: calc(var(--spacing) * $base-pad);

      .opcao-reserva {
        border-bottom: solid 1px $linha-cor;
        padding-left: calc(var(--spacing) * $base-pad);

        p {
          padding-left: calc(var(--spacing) * $base-pad);
        }

        ul {
          list-style: disc;
          padding-left: calc(var(--spacing) * 2 * $base-pad);
          margin-bottom: calc(var(--spacing) * $base-pad);
        }

        div.reserva-titulo {
          color: style.$branco;
          display: flex;
          justify-content: space-between;

          padding-top: calc(var(--spacing) * $base-pad);
          padding-right: calc(var(--spacing) * $base-pad);

          h3 {
            font-size: 1.2rem;
            font-weight: 700;
          }
        }
      }
    }

    #pagamento-botao {
      padding: 8px 8px;
      margin-bottom: calc(var(--spacing) * $base-pad);

      color: style.$branco;
      font-weight: 600;
      background-color: style.$cor-secundaria;
      border-radius: 10px;
    }
  }
}

/* 768px */
@media (width >=48rem) {
  main {
    section {
      a {
        $h: 80px;
        width: 320px;
        height: $h;
        margin-top: 20px;

        font-size: 1.4rem;
        line-height: $h;
      }
    }

    aside {
      width: 440px;

      h2 {
        margin-top: 18px;
      }

      $linha-cor: rgba(255, 255, 255, 0.253);
      $linha-stroke: 2px;

      div#pagamento-lista {
        border-top: solid $linha-stroke $linha-cor;

        .opcao-reserva {
          border-bottom: solid $linha-stroke $linha-cor;

          div.reserva-titulo {
            h3 {
              font-size: 1.3rem;
            }
          }
        }
      }

      #pagamento-botao {
        padding: 12px 12px;
        margin-bottom: calc(var(--spacing) * 1.5 * $base-pad);
        font-size: 1.2rem;
      }
    }
  }
}

/* 1024px */
@media (width >=64rem) {
  main {
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;

    margin: 80px 0;

    section {
      max-width: 50%;
      margin: 0;

      a {
        $h: 72px;
        width: 240px;
        height: $h;
        font-size: 1.2rem;
        line-height: $h;
      }
    }

    aside {
      width: 360px;

      #pagamento-botao {
        padding: 8px 8px;
        margin-bottom: calc(var(--spacing) * $base-pad);
        font-size: 1.0rem;
      }
    }
  }
}