@use "./style.scss";

dialog.popup:modal {
  $h: 360px;
  $w: 320px;

  position: fixed;
  left: calc(50vw - ($w / 2));
  top: calc(50vh - ($h / 2));

  height: $h;
  width: $w;
}

/* 768px */
@media (width >=48rem) {
  dialog.popup:modal {
    $h: 15vw;
    $w: 30vw;

    left: calc(50vw - ($w / 2));
    top: calc(50vh - ($h / 2));

    height: $h;
    width: $w;
  }
}

dialog.popup::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}