@use "./style.scss";


section#quartos-carousel {
  margin: 10px auto 60px auto;
}

.aba {
  $img-height: 240px;
  $aba-width: $img-height * (4/3);

  $box-color: #D9D9D9;

  display: grid;
  place-items: stretch;
  grid-template-columns: calc((4/10) * $aba-width) calc((6/10) * $aba-width);
  grid-template-rows: $img-height auto auto;
  grid-template-areas:
    'imagem-quarto imagem-quarto'
    'info info'
    'numerador contador';

  margin: 24px auto;
  padding: 25px min(25px, 50vw - ($aba-width / 2));
  max-width: calc($aba-width + (2 * 25px));
  /*294 + padding*/

  border-radius: 20px;
  background-color: style.$cor-background;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.35);

  img {
    grid-area: imagem-quarto;
    width: $aba-width;
    height: 100%;
    border-radius: 20px;
  }

  .aba-area {
    background-color: $box-color;
    padding: 12px 8px;
    border-radius: 20px;

    h3 {
      margin-bottom: 12px;
      text-align: center;
      font-weight: 400;
    }
  }

  .aba-info {
    grid-area: info;

    margin: 20px 0 8px 0;

    ul {
      padding-left: 25px;
    }

    h3 {
      font-size: 2.0rem;
      line-height: 1.2;
    }
  }

  .aba-numerador {
    grid-area: numerador;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin: 0 3px 0 0;

    h3 {
      font-size: 1.2rem;
      line-height: 1.1;
    }
  }

  .aba-contador {
    grid-area: contador;

    margin: 0 0 0 3px;

    button.aba-selecionar {
      width: 90%;
      height: 4rem;
      font-size: large;
      font-weight: 600;

      border-radius: 10px;
      border: 1px style.$cor-terciaria solid;
      background-color: style.$cor-primaria-leve;
    }

    h3 {
      font-size: 1.2rem;
      line-height: 1.1;
    }
  }

  .aba-mostrador {
    $h: 3.2rem;
    display: flex;
    justify-content: center;

    height: $h;
    font-weight: bold;

    p {
      flex: 1 1 40%;
      display: flex;
      align-items: center;
      justify-content: center;

      max-width: 60%;
      border: solid 2px black;
      background-color: white;
      font-size: calc($h * 7/8);
    }

    i {
      display: flex;
      align-items: center;
      justify-content: center;

      margin: 0 6px;
      width: 1em;
      height: 1em;
      font-size: $h;

      border-radius: 10px;
      cursor: pointer;
      background-color: transparent;
    }

    i:hover {
      /* color: style.$cor-primaria; */
      background-color: color-mix(in srgb, style.$cor-primaria-leve 35%, transparent 65%);
      transform: scale(1.1);
      transition-duration: 0.2s;
    }
  }
}

@mixin aba-vertical-style($img-height) {
  .aba {
    $aba-width: $img-height * (4/3);

    grid-template-columns: calc($aba-width * (8/14)) calc($aba-width * (6/14));
    grid-template-rows: $img-height $img-height/2 $img-height/2;
    margin: 40px auto;
    padding: 30px 30px;
    max-width: calc($aba-width + (2 * 30px));

    img {
      width: $aba-width;
    }
  }
}

/* 768px */
@media (width >=48rem) {
  @include aba-vertical-style(450px);

  $area-m-top: 20px;
  $area-m-inside: 5px;

  .aba {

    grid-template-areas:
      'imagem-quarto imagem-quarto'
      'info numerador'
      'info contador';

    padding: 30px 30px;

    li {
      font-size: 1.2rem;
    }

    .aba-info {
      margin: $area-m-top $area-m-inside 0 0;

      h3 {
        font-size: 2.2rem;
      }
    }

    .aba-numerador {
      margin: $area-m-top 0 $area-m-inside $area-m-inside;

      h3 {
        font-size: 1.6rem;
      }
    }

    .aba-contador {
      margin: $area-m-inside 0 0 $area-m-inside;

      h3 {
        font-size: 1.6rem;
      }
    }
  }
}

/* 1280px */
@media (width >=80rem) {
  @include aba-vertical-style(360px);

  .aba {
    margin: 40px auto;

    li {
      font-size: 1.1rem;
    }

  }
}

/* 1536 */
@media (width >=96rem) {
  @include aba-vertical-style(450px);

  .aba {
    margin: 40px auto;

    li {
      font-size: 1.2rem;
    }

    .aba-mostrador {
      height: 3.5rem;
    }
  }
}