@import "/src/styles/style.scss";

body {
  background-color: var(--cor-background) !important;
}

h1 {
  text-align: center;
  font-size: 3.5em;
}

h2 {
  text-align: center;
  font-size: 2.1em;
  font-weight: 500;
}

article#reserva-etapas {
  display: flex;
  align-content: center;
  justify-content: center;

  margin: 30px 0;
}

.etapa {
  margin: 0 -32px;
  width: 300px;
  height: 43px;

  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    font-size: 1.8em;
    font-weight: bold;
  }
}

.etapa#etapa-data {
  z-index: 3;
  background-image: url("/src/assets/seta_data_verde.svg");

  h2 {
    margin-right: 16px;
  }
}

.etapa#etapa-quarto {
  z-index: 2;
  background-image: url("/src/assets/seta_data_verde.svg");
}

.etapa#etapa-hospedes {
  z-index: 1;
  display: none;
}

.etapa#etapa-pagamento {
  margin: 0 -60px;
  z-index: 0;
  background-image: url("/src/assets/seta_pagamento_amarelo.svg");

  h2 {
    margin-left: 70px;
  }
}

article#reserva-mini-etapas {
  background-image: url("/src/assets/mini_etapa.svg");
  background-size: 240px 50px;
  background-repeat: no-repeat;

  width: 240px;
  height: 50px;
  margin: 30px auto;

  color: var(--branco);
}

main {
  display: flex;
  margin: 80px 20px;

  section {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;

    p {
      margin-top: 16px;
      width: 524px;
    }

    a {
      text-decoration: none;
      background-color: var(--cor-primaria);
      color: var(--cor-background);
      border-radius: 10px;
      width: 200px;
      height: 72px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      margin-top: 10px;

    }
  }


  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
    width: 343px;
    height: fit-content;
    background-color: var(--cor-primaria);
    border-radius: 20px;
    border: 1px solid #00000063;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.342);

    .vazio {
      align-self: center;
      justify-self: center;
    }

    p {
      margin-bottom: 5px;
    }

    h2 {
      font-size: 20px;
      font-weight: 800;
      margin-top: 30px;
    }

    h3 {
      font-size: 16px;
      font-weight: 700;

    }

    p,
    li {
      font-size: 14px;
    }

    div#reserva-imagem {
      margin-top: 20px;
    }

    img {
      width: 72px;
    }

    .icones {
      display: flex;
      gap: 10px;
      cursor: pointer;
    }

    .alinhar {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    div#reserva-titulo {
      color: var(--branco);
      display: flex;
      justify-content: space-between;
      padding: 20px 20px 0px 20px;
    }

    div#reserva-opcoes {
      border-top: solid 1px rgba(255, 255, 255, 0.253);
      width: 100%;

      .opcao-reserva {
        border-bottom: solid 1px rgba(255, 255, 255, 0.253);

      }
    }


    #reserva-botao {
      border: 0px;
      text-decoration: none;
      margin: 20px;
      border-radius: 10px;
      padding: 8px 8px;
      color: var(--branco);
      cursor: pointer;
      font-weight: 600;
      background-color: var(--cor-secundaria);
    }
  }
}

footer {
  width: 100vw;
  height: 148px;
  position: fixed;
  bottom: 0;
  z-index: -1;

  background-image: url("images/FooterWave.png");
  background-size: 100vw 148px;
  background-repeat: no-repeat;
}



@media (max-width:990px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px 20px;

    section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: fit-content;

      p {
        margin-top: 16px;
        width: 524px;
      }
    }

    aside {
      margin-top: 30px;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--branco);
      width: 343px;
      height: 537px;
      background-color: var(--cor-primaria);
      border-radius: 20px;


    }
  }
}

@media (max-width:580px) {
  main {
    section {
      p {
        margin-top: 14px;
        width: 386px;
      }
    }
  }
}

@media (max-width:460px) {
  main {
    section {
      p {
        margin-top: 12px;
        width: 308px;
        font-size: 11px;
      }
    }
  }
}

a,
button {
  transition: all 0.4s;
}

a:hover {
  transform: translateY(-10px);
}