@import "/styles/style.scss";

.etapa#etapa-data {
  background-image: url("assets/seta_data_verde.svg");
}

.etapa#etapa-quarto {
  background-image: url("assets/seta_data_amarelo.svg");
}

.etapa#etapa-pagamento {
  background-image: url("assets/seta_pagamento_cinza.svg");
}

section#quartos-carousel {
  margin: 10px auto 70px auto;
}

.aba {
  display: grid;
  place-items: stretch;
  grid-template-columns: 40% auto;
  grid-template-rows: 220px auto auto;
  grid-template-areas:
    'imagem-quarto imagem-quarto'
    'info info'
    'numerador contador';

  margin: 40px auto;
  padding: 30px 60px;
  border-radius: 20px;
  width: fit-content;
  background-color: var(--cor-background);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.35);
  font-size: 0.5em;

  img {
    grid-area: imagem-quarto;
    width: auto;
    height: 100%;
    border-radius: 20px;
  }

  div {
    margin: 12% 4%;
  }

  li {
    font-size: 1.4em;
  }

  p {
    text-align: center;
    font-size: 1.8em;
    margin-inline: 12px;
  }

  .aba-numerador {
    grid-area: numerador;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin: 0px 5px;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding-top: 16px;
  }

  .aba-info {
    grid-area: info;

    margin: 20px 15px;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 10px 0;

    h2 {
      margin: 10px;
      font-weight: bold;
      font-size: 2.8em;
    }
  }

  .aba-contador {
    grid-area: contador;

    /*display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;*/
    padding-top: 16px;
    background-color: #D9D9D9;
    border-radius: 20px;
    margin: 0px 5px;
  }

  .aba-mostrador {
    display: flex;
    align-items: stretch;
    justify-content: space-around;

    margin-top: 0;
    height: 4.5em;
    font-weight: bold;

    p,
    button {
      border: solid 2px black;
      margin: 0 6px;
    }

    p {
      flex: 1 1 40%;

      max-width: 60%;
      background-color: white;
      font-size: 3.0em;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding-bottom: 5%;
      aspect-ratio: 1;

      background-color: inherit;
      font-size: 3.0em;
      border-radius: 10px;

    }

    button:hover {
      transform: scale(1.1) !important;
      transition-duration: 0.2s;
      border: solid 4px var(--cor-primaria);
    }
  }
}

@include media-breakpoint-up(md) {
  .aba {
    grid-template-rows: 450px auto auto;
    font-size: 1em;
  }
}

@include media-breakpoint-up(xl) {
  .aba {
    grid-template-rows: 320px auto auto;
    font-size: 0.7em;
  }
}

@include media-breakpoint-up(xxl) {
  .aba {
    grid-template-rows: 450px auto auto;
    font-size: 1em;
  }
}

footer {
  width: 100vw;
  height: 148px;
  position: fixed;
  bottom: 0;
  z-index: -1;

  background-image: url("assets/FooterWave.png");
  background-size: 100vw 148px;
  background-repeat: no-repeat;
}