@use "./style.scss";

#hospede-div {
  margin: 40px style.$side-margin;
}

#hospede-main {
  grid-area: formulario;
}

.hospede-dados {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  padding: 25px 0 50px;
  color: style.$branco;
  background-color: style.$preto;
  border-radius: 15px;
  box-shadow: 8px 8px 16px style.$shadow-color;

  .hospede-input {
    width: 70%;
    font-size: 1.1rem;
    font-weight: 500;

    input,
    select {
      $pad: 10px;

      width: 100%;
      height: 2.6em;
      padding: calc($pad / 2) calc($pad / 2);

      color: style.$preto;
      background-color: style.$cor-background;
      border-radius: $pad;
    }
  }

  .two-hosp-inputs {
    width: 70%;

    display: flex;
    gap: 25px;

    .hospede-input {
      font-size: 1rem;
    }
  }
}

#hospede-lista {
  grid-area: lista;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20%;
  list-style: none;

  .hosp-list-item {
    min-height: 80px;
    padding: 8px 20px;

    background-color: style.$cinza;
    border-radius: 10px;
    box-shadow: 4px 4px 8px style.$shadow-color;
  }
}


/* 1024px */
@media (width >=64rem) {
  #hospede-div {
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "vazio formulario lista";
  }
}