@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --cor-background: #F5F0E6;
  --branco: #ffffff;
  --preto: #000000;
  --cor-primaria: #1f6f50;
  --cor-secundaria: #f4c430;
  --cor-terciaria: #272623;
}

body {
  background-color: var(--cor-background) !important;
}

h1 {
  text-align: center;
  font-size: 3.5em;
}

h2 {
  text-align: center;
  font-size: 2.1em;
  font-weight: 500;
}

header {
  width: 100vw;
}

.navbar {
  height: 20vh;
  background-color: var(--cor-background) !important;
  padding: 0 2rem;
}

.navbar-nav {
  margin-left: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-brand {
  margin-left: 5%;
  font-size: 1.8rem;
  color: var(--cor-secundaria) !important;
  width: 104px;
  height: 90px;
}

.nav-link {
  color: var(--preto) !important;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar .container-fluid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#btn-carrinho .nav-link {
  height: 65px;
  width: 227.5px;
  background-color: var(--cor-primaria);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: var(--cor-background) !important;
}

#btn-carrinho i {
  font-size: 42.25px;
  color: var(--cor-secundaria);
}

article#reserva-etapas {
  display: flex;
  align-content: center;
  justify-content: center;

  margin: 30px 0;
}

.etapa {
  margin: 0 -32px;
  width: 300px;
  height: 43px;

  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    font-size: 1.8em;
    font-weight: bold;
  }
}

.etapa#etapa-data {
  z-index: 3;
  background-image: url("../images/seta_data_verde.svg");

  h2 {
    margin-right: 16px;
  }
}

.etapa#etapa-quarto {
  z-index: 2;
  background-image: url("../images/seta_data_verde.svg");
}

.etapa#etapa-hospedes {
  z-index: 1;
  display: none;
}

.etapa#etapa-pagamento {
  margin: 0 -60px;
  z-index: 0;
  background-image: url("../images/seta_pagamento_amarelo.svg");

  h2 {
    margin-left: 70px;
  }
}

article#reserva-mini-etapa {
  background-image: url("../images/mini_etapa.svg");
  background-size: 240px 50px;
  background-repeat: no-repeat;

  width: 240px;
  height: 50px;
  margin: 30px auto;

  color: var(--branco);
}

main {
  display: flex;
  margin: 80px 20px;

  section {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;

    p {
      margin-top: 16px;
      width: 524px;
    }
  }

  aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
    width: 343px;
    height: 537px;
    background-color: var(--cor-primaria);
    border-radius: 20px;

    div#reserva-imagem {
      margin: 5px;
    }

    .alinhar {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    div#reserva-titulo {
      color: var(--branco);
      display: flex;
      justify-content: space-around;
    }

    div#reserva-opcoes {
      border-top: solid 1px var(--branco);
      width: 100%;

      .opcao-reserva {
        border-bottom: solid 1px var(--branco);

      }
    }


    #reserva-botao {
      border: 0px;
      text-decoration: none;
      margin: 20px;
      border-radius: 10px;
      padding: 8px 8px;
      color: var(--branco);
      cursor: pointer;
      background-color: var(--cor-secundaria);
    }
  }
}

footer {
  width: 100vw;
  height: 148px;
  position: fixed;
  bottom: 0;
  z-index: -1;

  background-image: url("images/FooterWave.png");
  background-size: 100vw 148px;
  background-repeat: no-repeat;
}

@media (max-width:990px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 70px 20px;

    section {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: fit-content;

      p {
        margin-top: 16px;
        width: 524px;
      }
    }

    aside {
      margin-top: 30px;
      align-self: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--branco);
      width: 343px;
      height: 537px;
      background-color: var(--cor-primaria);
      border-radius: 20px;


    }
  }
}

@media (max-width:580px) {
  main {
    section {
      p {
        margin-top: 14px;
        width: 386px;
      }
    }
  }
}

@media (max-width:460px) {
  main {
    section {
      p {
        margin-top: 12px;
        width: 308px;
        font-size: 11px;
      }
    }
  }
}
