@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

:root {
  --cor-background: #F5F0E6;
  --branco: #ffffff;
  --preto: #000000;
  --cor-primaria: #1f6f50;
  --cor-secundaria: #f4c430;
  --cor-terciaria: #272623;
}

body {
  background-color: var(--cor-background) !important;
}

body>div {
  position: absolute;
  width: 100vw;
}

h1 {
  text-align: center;
  font-size: 3.5em;
}

h2 {
  text-align: center;
  font-size: 2.1em;
  font-weight: 500;
}

header {
  width: 100vw;
}

.navbar {
  height: 20vh;
  background-color: var(--cor-background) !important;
  padding: 0 2rem;
}

.navbar-nav {
  margin-left: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-brand {
  margin-left: 5%;
  font-size: 1.8rem;
  color: var(--cor-secundaria) !important;
  width: 104px;
  height: 90px;
}

.nav-link {
  color: var(--preto) !important;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar .container-fluid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#btn-carrinho .nav-link {
  height: 65px;
  width: 227.5px;
  background-color: var(--cor-primaria);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: var(--cor-background) !important;
}

#btn-carrinho i {
  font-size: 42.25px;
  color: var(--cor-secundaria);
}

article#reserva-etapas {
  display: flex;
  align-content: center;
  justify-content: center;

  margin: 30px 0;
}

.etapa {
  margin: 0 -32px;
  width: 300px;
  height: 43px;

  background-size: contain;
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    font-size: 1.8em;
    font-weight: bold;
  }
}

.etapa#etapa-data {
  z-index: 3;
  background-image: url("../images/seta_data_verde.svg");

  h2 {
    margin-right: 16px;
  }
}

.etapa#etapa-quarto {
  z-index: 2;
  background-image: url("../images/seta_quarto_amarelo.svg");
}

.etapa#etapa-hospedes {
  z-index: 1;
  display: none;
}

.etapa#etapa-pagamento {
  margin: 0 -60px;
  z-index: 0;
  background-image: url("../images/seta_pagamento_cinza.svg");

  h2 {
    margin-left: 70px;
  }
}

article#reserva-mini-etapas {
  background-image: url("../images/mini_etapa.svg");
  background-size: 240px 50px;
  background-repeat: no-repeat;

  width: 240px;
  height: 50px;
  margin: 30px auto;

  color: var(--branco);
}

.aba {
  display: grid;
  place-items: stretch;
  grid-template-columns: 50% auto;
  grid-template-rows: 220px auto auto;
  grid-template-areas:
    'imagem-quarto imagem-quarto'
    'info numerador'
    'info contador';

  margin: 40px auto;
  padding: 30px 60px;
  border-radius: 20px;
  width: fit-content;
  background-color: var(--cor-background);
  box-shadow: 4px 4px 12px black;
  font-size: 0.5em;

  img {
    grid-area: imagem-quarto;
    width: auto;
    height: 100%;
  }

  div {
    margin: 12% 4%;
  }

  li {
    font-size: 1.4em;
  }

  p {
    text-align: center;
    font-size: 1.6em;
    margin-inline: 12px;
  }

  .aba-numerador {
    grid-area: numerador;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin-right: 0;
    margin-bottom: 2%;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding-top: 16px;
  }

  .aba-info {
    grid-area: info;

    margin-left: 0;
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 0px 12px;
    h2 {
      margin: 20px;
      font-weight: bold;
      font-size: 2.4em;
    }
  }

  .aba-contador {
    grid-area: contador;

    /*display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;*/
    padding-top: 16px;
    background-color: #D9D9D9;
    border-radius: 20px;
    margin-top: 6%;
    margin-right: 0;
  }

  .aba-mostrador {
    display: flex;
    align-items: stretch;
    justify-content: space-around;

    margin-top: 0;
    height: 4.5em;
    font-weight: bold;

    p,
    button {
      border: solid 2px black;
      margin: 0 6px;
    }

    p {
      flex: 1 1 40%;

      max-width: 60%;
      background-color: white;
      font-size: 3.0em;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding-bottom: 5%;
      aspect-ratio: 1;

      background-color: inherit;
      font-size: 3.0em;
      border-radius: 20px;

    }

    button:hover {
      transform: scale(1.1) !important;
      transition-duration: 0.2s;
      border: solid 4px var(--cor-primaria);
    }
  }
}

@include media-breakpoint-up(md) {
  .aba {
    grid-template-rows: 450px auto auto;
    font-size: 1em;
  }
}

@include media-breakpoint-up(xl) {
  .aba {
    grid-template-rows: 320px auto auto;
    font-size: 0.7em;
  }
}

@include media-breakpoint-up(xxl) {
  .aba {
    grid-template-rows: 450px auto auto;
    font-size: 1em;
  }
}

footer {
  width: 100vw;
  height: 148px;
  position: fixed;
  bottom: 0;
  z-index: -1;

  background-image: url("images/FooterWave.png");
  background-size: 100vw 148px;
  background-repeat: no-repeat;
}