body {
  background-color: #F5F0E6;
}

h1 {
  text-align: center;
  font-size: 3.5em;
}

h2 {
  text-align: center;
  font-size: 2.1em;
  font-weight: 500;
}

.aba {
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 450px auto auto;
  grid-template-areas:
    'imagem-quarto imagem-quarto'
    'info numerador'
    'info contador';

  margin: 40px auto;
  padding: 30px 60px;
  border-radius: 10%;
  width: fit-content;
  box-shadow: 4px 4px 12px black;

  img {
    grid-area: imagem-quarto;
    width: auto;
    height: 100%;
  }

  div {
    margin: 12% 4%;
  }

  li {
    font-size: 1.4em;
  }

  p {
    text-align: center;
    font-size: 1.8em;
  }

  .aba-numerador {
    grid-area: numerador;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    margin-right: 0;
    margin-bottom: 2%;
    background-color: #D9D9D9;
    border-radius: 15%;
  }

  .aba-info {
    grid-area: info;

    margin-left: 0;
    background-color: #D9D9D9;
    border-radius: 5%;
  }

  .aba-contador {
    grid-area: contador;

    /*display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;*/

    background-color: #D9D9D9;
    border-radius: 15%;
    margin-top: 6%;
    margin-right: 0;
  }

  .aba-mostrador {
    display: flex;
    align-items: stretch;
    justify-content: space-around;

    margin-top: 0;
    height: 4.5em;
    font-weight: bold;

    p,
    button {
      border: solid 2px black;
      margin: 0 6px;
    }

    p {
      flex: 1 1 40%;

      max-width: 60%;
      background-color: white;
      font-size: 3.0em;
    }

    button {
      height: 100%;
      aspect-ratio: 1;

      background-color: inherit;
      font-size: 3.0em;
    }
  }
}